@charset "utf-8";

html {
    background-color: white;
}


/* 新規登録のフォームの外枠 */
.login_form {
    width: 500px;
    height: 400px;
    border: 2px solid #000;
    margin: 180px auto;
    border-radius: 20px;
}

.login_form h1 {
    text-align: center;
}
/* 新規登録の入力フォーム */
.input_form {
    width: 300px;
    margin: 0 auto;
}

.input_form label {
    font-size: large;
}

.input_form_class {
    width: 292px;
    height: 30px;
    margin-bottom: 10px;
}
.submit_button {
    text-align: right;
}
.submit_button input{
    width: 60px;
    height: 30px;
    margin: 10px 0;
}
